body {
    background-color: #d8e0ee;
}

.chartTitle {
    text-align: center;
    font-size: 24px;
    margin-left: 40%;
}

.chartBox {
    width: 49%;
    float: left;
    border: 3% solid black;
    border-radius: 20px;
    padding: 2%;
    background-color: white;
}

.chartBox2 {
    margin-left: 2%;
    width: 49%;
    float: left;
    border: 3% solid black;
    border-radius: 20px;
    padding: 2%;
    background-color: white;
}

.container {
    width: 100%;
    margin: auto;
    padding: 2%;
}