body {
    background-color: #d8e0ee;
}

.displayInstructions {
    font-size: 28px;
    text-align: center;
    margin-top: 6%;
}

.centerDisplay {
    width: 50%;
    margin-top: 4%;
    display: flex;
    margin-left: 22%;
}

.userOldPassword {
    font-family: 'Segoe UI';
    border-radius: 15px;
    margin-top: 15px;
    width: 80%;
    height: 40px;
    color: black;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: text;
    margin-top: 25px;
}

.userNewPassword {
    font-family: 'Segoe UI';
    border-radius: 15px;
    margin-top: 15px;
    width: 80%;
    height: 40px;
    color: black;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: text;
    margin-top: 25px;
}

.userConfirmNewPassword {
    font-family: 'Segoe UI';
    border-radius: 15px;
    margin-top: 15px;
    width: 80%;
    height: 40px;
    color: black;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: text;
    margin-top: 25px;
}

.submitNewPassword {
    font-family: 'Segoe UI';
    font-size: 20px;
    border-radius: 15px;
    width: 15%;
    height: 40px;
    color: white;
    background-color: #001E60;
    margin-top: 15px;
    border: none;
    padding-left: 8px;
    cursor: text;
    margin-left: 43%;
    text-align: center;
}

.submitNewPassword:hover {
    background-color: #003e85;
}

.submitNewPassword:active {
    background-color: #001E40;
}

.leftColumn {
    width: 60%;
    float: right;
    text-align:right;
    margin-right: 5%;
}

.rightColumn {
    width: 60%;
    float:left;
}

.passwordLabels {
    font-size: 22px;
    font-family: 'Segoe UI';
    margin-top: 25px;
}