body, html {
    font: 18px;
    margin: 0;
    background-color: #d8e0ee;
}

p {
    margin-top: 2%;
    text-align: center;
    font-size: 24px;
    font: bold;
    color: black;
}

.centered {
    width: 100%;
    margin-top:2%;
}

.websiteInput {
    font-family: 'Segoe UI';
    border-radius: 16px;
    width: 60%;
    height: 40px;
    margin-top: 1%;
    padding-left: 15px;
    border: none;
    margin-right: 1%;
}

.addWebsitesInputDiv {
    text-align: center;
    height: 40%;
    width: 100%;
    margin-top: 4%;
}

.addWebsiteButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #607da2;
    margin-top: 1%;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.addWebsiteButton:hover {
    background-color: #003e85;
}

.addWebsiteButton:active {
    background-color: #001E40;
}

.ListWebsites {
    width: 80%;
    margin-top: -3%;
    margin:auto;
    text-align: center;
    background-color:white;
    border-radius: 15px;
}

.savedWebsiteList {
    margin-top: -3%;
    font-size: 17px;
}

.fa-trash {
    color: red;
    position: absolute;
    right: 0;
    margin-right: 12%;
    margin-top: .5%;
    cursor: pointer;
}

.fa-trash:hover {
    color: #f54242;
}