body, html {
    font: 18px;
    margin: 0;
    background-color: #d8e0ee;
}

p {
    margin-top: 1%;
    text-align: center;
    font-size: 24px;
    font: bold;
    color: black;
    margin-bottom: 0%;
}

.centered {
    width: 100%;
    margin-top:2%;
}

.searchResults {
    width: 100%;
    margin-top: 1%;
}

.websiteInput {
    font-family: 'Segoe UI';
    border-radius: 16px;
    width: 60%;
    height: 40px;
    margin-top: -2%;
    padding-left: 15px;
    border: none;
    margin-right: 1%;
}

.addWebsitesInputDiv {
    text-align: center;
    height: 40%;
    width: 100%;
    margin-bottom: 1%;
}

.addWebsiteButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #607da2;
    margin-top: 1%;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.addWebsiteButton:hover {
    background-color: #003e85;
}

.addWebsiteButton:active {
    background-color: #001E40;
}

.addFileButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #607da2;
    margin-top: 1%;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left:25%;
}

.addFileButton:hover {
    background-color: #003e85;
}

.addFileButton:active {
    background-color: #001E40;
}

.ListWebsites {
    width: 80%;
    margin-top: -3%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    overflow:hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 49vh;
}

.savedWebsiteList {
    margin-top: 1.2%;
    font-size: 17px;
    text-align:center;
}

.userFileInput {
    font-family: 'Segoe UI';
    border-radius: 15px;
    width: 35%;
    height: 40px;
    margin-top: 15px;
    border: none;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
}

.fa-trash {
    color: red;
    position: absolute;
    right: 0;
    margin-right: 13%;
    margin-top: .5%;
    cursor: pointer;
    overflow: hidden;
}

.fa-trash:hover {
    color: #f54242;
    overflow:hidden;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #313740;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313740;
}