body {
    background-color: #d8e0ee;
}

.leftColumn {
    width: 20%;
    float: right;
    margin-left: 5%
}

.rightColumn {
    width: 30%;
    float: right;
}

.profleCenter {
    width: 80%;
    margin-top: 2%;
    display:flex;
    margin-left:20%;
}

.changePasswordButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #001E60;
    margin-top: 30px;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.changePasswordButton:hover {
    background-color: #003e85;
}

.changePasswordButton:active {
    background-color: #001E40;
}

.buttonCenter {
    margin-left: 40%;
}

.profileImage {
    width: 300px;
    height: 300px;
    margin-top: 8%;
}

.profilePictureDiv {
    background-color: #313740;
    width: 75%;
    height: 40rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 8);
    text-align: center;
}

.userInfoLabel {
    font-size: 24px;
    cursor: pointer;
    color:white;
    margin-top:2%;
}
.userInfoNameLabel {
    font-size: 32px;
    margin-left: 0.5%;
    cursor: pointer;
    color: white;
    margin-top:1%;
}