body {
    background-color: #d8e0ee;
}

.leftColumn {
    width: 30%;
    float: left;
    margin-left: 10%
}

.rightColumn {
    width: 30%;
    float: right;
}

.profleCenter {
    width: 50%;
    margin-top: 7%;
    display:flex;
    margin-left:22%;
}

label {
    margin-top: 5%;
    margin-bottom: 5%;
}

.changePasswordButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #001E60;
    margin-top: 15px;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.changePasswordButton:hover {
    background-color: #003e85;
}

.changePasswordButton:active {
    background-color: #001E40;
}

.uploadImageButton {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #001E60;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.uploadImageButton:hover {
    background-color: #003e85;

}

.uploadImageButton:active {
    background-color: #001E40;
}

.buttonCenter {
    margin-left: 39%;
}

.profileImage {
    width: 150px;
    height: 150px;
}