body {
}

.leftColumn {
    width: 30%;
    float: left;
}

.rightColumn {
    width: 30%;
    float: right;
}

.profleCenter {
    margin: auto;
    width: 50%;
    margin-top: 1%;
    display: flex;
}