body,html {
    background-image:url(../Images/ceta.jpg);
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    font-family: 'Segoe UI';
    border-radius: 15px;
    width: 200px;
    height: 40px;
    opacity: 15;
    margin-top: 15px;
    border: none;
    padding-left: 8px;
    margin-left:4px;
    margin-right:4px;
}

.button {
    font-family: 'Segoe UI';
    border-radius: 15px;
    background-color: #001E60;
    margin-top: 15px;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

    .button:hover {
        background-color: #003e85;
    }

.button:active {
    background-color: #001E40;
}

img{
    height: 250px;
    width: 250px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform:scale(.8, .8);
}

.loginCenter {
    margin: auto;
    width: 50%;
    padding: -35px;
    margin-top: -25px;
}

.signUpCenter {
    margin: auto;
    width: 50%;
    padding: -35px;
    margin-top: -25px;
}