@model SNHU_Search.Models.ConfigPageModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/ConfigPageStyleSheet.css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" class="centered websiteInputContainer" enctype="multipart/form-data">
        <div class="fields">
            <br>
            <input asp-for="inputWebsite" id="websiteInput" type="text" placeholder="Enter website">
            <br />
            <button id="addWebsite" type="submit">Add Website</button>
            <button class="HomeButton" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
        </div>
    </form>
    <div class="centered">
        <div class="ListWebsites">
            <br />
            <p>
                <label id="exampleWebsite">List of websites</label>
            </p>
        </div>
    </div>
</body>
</html>