@model SNHU_Search.Models.ConfigPageModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/ConfigPageStyleSheet.css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" class="centered" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadWebsites">
        <div class="addWebsitesInputDiv">
            <p>Add your favorite websites here for easy accessibilty</p>
            <input asp-for="inputWebsite" class="websiteInput" type="text" placeholder="Enter website here">
            <button class="addWebsiteButton" type="submit">Add Website</button>
        </div>
    </form>
    <div class="centered">
        <div class="ListWebsites">
            <br/>
            <p>
                @{
                    List<string> list = new List<string>();
                    list = ViewData["userWebsitesList"] as List<string>;
                    @if (list != null)
                    {
                        for (int i = 0; i < list.Count(); i++)
                        {
                            <label style="font-size: 17px;">@list[i]</label>
                            @if (i % 1 == 0)
                            {
                                <br>
                            }
                        }
                    }
                }
            </p>
        </div>
    </div>
</body>
</html>