@model SNHU_Search.Models.SearchModel
@{
    Layout = Layout;
}
<html>
<head>
    <title>SNHU Search</title>
    <link href='~/css/MainPage.css' rel='stylesheet'>
</head>
<div class="searchDiv">
    <form method="post" asp-controller="Home" asp-action="SearchElastic" enctype="multipart/form-data">
        <button class="webConfigButton" type="button" name="configButton" onclick=" location.href = '@Url.Action("ConfigPage", "Home")'">Configure Websites</button>
        <p>Welcome to SNHU Search! A search engine that allows you to customize your search to fit your needs!</p>
        <input class="searchBarInput" asp-for="Keywords" placeholder="Enter your search here" />
        <button class="searchButton" type="submit" name="searchButton">Search</button>
    </form>
</div>

<div>
    @{
        List<string> list = new List<string>();
        list = ViewData["elastiSearchKeywordsList"] as List<string>;
        @if (list != null)
        {
            for (int i = 0; i < list.Count(); i++)
            {
                <label style="font-size: 17px;">@list[i]</label>
                @if (i % 1 == 0)
                 {
                      <br>   
                 }
            }
        }
    }
</div>


<body>
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
</body>
</html>