@{
    Layout = Layout;
}
<html>
<head>
    <title>SNHU Search</title>
</head>
<div style="text-align:center">
    <p>Welcome to SNHU Search! A search engine that allows you to customize your search to fit your needs!</p>
    <input form="search" name="searchBar" placeholder="Enter your search here" style="width:700px"/>
    <button type="submit" name="searchButton">Search</button>
</div>



<body>
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
</body>
</html>