@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="text-align:center">
    <h1>Sign Up</h1>
    <label for="userFName">First Name</label>
    <input type="text" id="userFName" name="userFName" placeholder="Enter First Name" />
    <label for="userLName">Last Name</label>
    <input type="text" id="userLName" name="userLName" placeholder="Enter Last Name" /><br />
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter Username" />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" /><br />
    <label for="userEmail">Email</label>
    <input type="text" id="userEmail" name="userEmail" placeholder="Enter Email" /><br />
    <button type="submit">Create Account</button>
</div>