<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SNHU Search</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*THIS IS STUFF FOR DEV EXPRESS -jesse*@
    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@ 
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    @*<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />*@

    @* Uncomment to use the Gantt control *@ 
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>

    @* Uncomment to use Globalize for localization *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script> 
    @*<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navContainer">
                <div class="logo">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="homeButton" src="~/Images/snhusearchlogo.png" /></a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between buttonFormat">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                string username;
                                username = ViewData["userName"] as string;
                                if (username != null)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                }
                                else
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between buttonFormat">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                username = ViewData["userName"] as string;
                                if (username != null)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProfilePage">Profile</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between buttonFormat">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                username = ViewData["userName"] as string;
                                if (username != null)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AnalyticsPage">Analytics</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

            @RenderBody()

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
