@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Change Password</title> 
<link href='~/css/ChangePassword.css' rel='stylesheet'>
<div class="centerDisplay">
    <p class="displayInstructions">
        Enter your old password first in order to change your password
    </p>

    <input class="userOldPassword" type="text" id="oldPassword" placeholder="Old Password" required autocomplete="off" />
    <br />
    <input class="userNewPassword" type="text" id="newPassword" placeholder="New password" required autocomplete="off" />
    <br />
    <input class="userConfirmNewPassword" type="text" id="confirmNewPassword" placeholder="Verify new password" required autocomplete="off" />
    <br />
    <button class="submitNewPassword" type="submit">Submit</button>
</div>