@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Forgot Password</title>
<link href='~/css/ForgotPassword.css' rel='stylesheet'>
<div>
    <p>
        Enter your email associated with your account below in order to recieve an email to reset your password.
    </p>
    <input class="userEmailInput" type="text" id="email" placeholder="Enter email here" required autocomplete="off" />
    <button class="emailSubmitButton" type="submit">Submit</button>
</div>