@model SNHU_Search.Models.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = Layout;
}

<head>
    <title>Login</title>
    <link href='~/css/LoginSignup.css' rel='stylesheet'>
</head>

<div style="text-align:center">
    <img class="snhuSearchLogo" src="~/Images/snhusearchlogo.png" />
    <form asp-action="Login" method="post">
        <div class="loginCenter">
            <input class="userLoginInputs" type="text" id="username" asp-for="UserName" placeholder="Username" required autocomplete="off" /><br />
            <input class="userLoginInputs" type="password" id="password" asp-for="Password" placeholder="Password" required autocomplete="off" /><br />
            <button class="loginSignUpButton leftButton" type="submit">Login</button>
            <button class="loginSignUpButton rightButton" type="button" onclick=" location.href = '@Url.Action("SignUp", "Login")'">Sign Up</button>
        </div>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}