@model SNHU_Search.Models.SignupModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Sign Up</title>
    <link href='~/css/style.css' rel='stylesheet'>
</head>

<form asp-action="AddUser" method="post" autocomplete="off">
    <div style="text-align:center">
        <h1>Sign Up</h1>
        <label for="userFName">First Name</label>
        <input type="text" id="userFName" asp-for="FirstName" placeholder="Enter First Name" required />
        <label for="userLName">Last Name</label>
        <input type="text" id="userLName" asp-for="LastName" placeholder="Enter Last Name" required /><br />
        <label for="username">Username</label>
        <input type="text" id="username" asp-for="UserName" placeholder="Enter Username" required autocomplete="off" />
        <label for="password">Password</label>
        <input type="password" id="password" asp-for="Password" placeholder="Enter Password" required autocomplete="off" /><br />
        <label for="userEmail">Email</label>
        <input type="email" id="userEmail" asp-for="Email" placeholder="Enter Email" required />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password" required autocomplete="off" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
        <button type="submit">Create Account</button>
    </div>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}