@model SNHU_Search.Models.SignupModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Sign Up</title>
    <link href='~/css/style.css' rel='stylesheet'>
</head>

<form asp-action="AddUser" method="post" autocomplete="off">
    <div style="text-align:center" class="signUpCenter">
        <img src="~/Images/snhu logoo.png" /><br/>
        <input class="input" type="text" id="userFName" asp-for="FirstName" placeholder="First Name" required />
        <input class="input"type="text" id="userLName" asp-for="LastName" placeholder="Last Name" required /><br />
        <input class="input"type="text" id="username" asp-for="UserName" placeholder="Username" required autocomplete="off" />
        <input class="input"type="password" id="password" asp-for="Password" placeholder="Password" required autocomplete="off" /><br />
        <input class="input"type="email" id="userEmail" asp-for="Email" placeholder="Email" required />
        <input class="input"type="password" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password" required autocomplete="off" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
        <button class="button" type="submit">Submit</button>
    </div>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}