@model SNHU_Search.Models.SignupModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = Layout;
}
<head>
    <title>Sign Up</title>
    <link href='~/css/LoginSignup.css' rel='stylesheet'>
</head>

<form asp-action="AddUser" method="post" autocomplete="off">
    <div style="text-align:center">
        <img class="snhuSearchLogo" src="~/Images/snhusearchlogo.png" />
        <div style="text-align:center" class="signUpCenter">
            <div class="leftColumn">
                <input class="userSignUpInputs" type="text" id="userFName" asp-for="FirstName" placeholder="First Name" required />
                <input class="userSignUpInputs" type="text" id="username" asp-for="UserName" placeholder="Username" required autocomplete="off" />
                <input class="userSignUpInputs" type="email" id="userEmail" asp-for="Email" placeholder="Email" required />
            </div>
            <div class="rightColumn">
                <input class="userSignUpInputs" type="text" id="userLName" asp-for="LastName" placeholder="Last Name" required /><br />
                <input class="userSignUpInputs" type="password" id="password" asp-for="Password" placeholder="Password" required autocomplete="off" /><br />
                <input class="userSignUpInputs" type="password" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password" required autocomplete="off" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
        </div>
        <button class="loginSignUpButton" type="submit">Submit</button>
    </div>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}



@*<div style="text-align:center" class="signUpCenter">
    <input class="userSignUpInputs" type="text" id="userFName" asp-for="FirstName" placeholder="First Name" required />
    <input class="userSignUpInputs" type="text" id="userLName" asp-for="LastName" placeholder="Last Name" required /><br />
    <input class="userSignUpInputs" type="text" id="username" asp-for="UserName" placeholder="Username" required autocomplete="off" />
    <input class="userSignUpInputs" type="password" id="password" asp-for="Password" placeholder="Password" required autocomplete="off" /><br />
    <input class="userSignUpInputs" type="email" id="userEmail" asp-for="Email" placeholder="Email" required />
    <input class="userSignUpInputs" type="password" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password" required autocomplete="off" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
    <button class="loginSignUpButton" type="submit">Submit</button>
</div>*@